body {
    font-family: 'Poppins', sans-serif;
}

.jumbotron {
    background-image: white;
    background-position-x: center;
}

section {
    min-height: 420px;
}

.container h1 {
    color: black;
}

#jumbotron p {
    color: black;
}

.col h1,
p {
    color: black;
}