body {
    font-family: 'Poppins', sans-serif;
    background-image: url(./img/Desain\ tanpa\ judul\ \(2\).png);
    background-size: cover;
    background-attachment: fixed;
}


/* Navbar */

.navbar-brand {
    font-family: 'Bowlby One SC';
    font-size: 32px;
}


/* Utilities */

.bg-dark {
    opacity: 0.9;
}


/* Jumbotron */

.jumbotron {
    background-size: cover;
    height: 540px;
    background: rgb(252, 252, 252, 0.0);
}

.jumbotron .container {
    padding-top: 50px;
}

.jumbotron .img-fluid {
    width: 175px;
}

section {
    min-height: 420px;
}

.jumbotron h1 {
    color: black;
    font-size: 31px;
}

.jumbotron p {
    color: black;
    font-size: 15px;
}

.col h1,
p {
    color: black;
}


/* DEKSTOP VERSION */

@media (min-width: 991.98px) {
    .nav-link {
        text-transform: uppercase;
        margin-right: 30px;
    }
    .nav-link:hover::after {
        content: '';
        display: block;
        border-bottom: 3px solid #0b63dc;
        width: 50%;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: -8px;
    }
    .jumbotron {
        background-size: cover;
        height: 640;
    }
    .jumbotron .container {
        padding-top: 30px;
    }
    .jumbotron h1 {
        font-size: 62px;
    }
    .jumbotron .img-fluid {
        width: 200px;
    }
    .jumbotron p {
        color: black;
        font-size: 30px;
    }
}