body {
    font-family: "Poppins", sans-serif;
    background-image: url(./img/desain.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: 0 -250px;
}


/* Navbar */

.navbar-brand {
    font-family: "Bowlby One SC";
    font-size: 32px;
}


/* Utilities */

.button {
    text-transform: uppercase;
    border-radius: 40px;
}

.bg-dark {
    opacity: 0.9;
}


/* Jumbotron */

.jumbotron {
    background-size: cover;
    height: 540px;
    background: rgb(252, 252, 252, 0);
}

.jumbotron .container {
    padding-top: 50px;
}

.jumbotron .img-fluid {
    width: 175px;
}

section {
    min-height: 420px;
}

.jumbotron h1 {
    color: black;
    font-size: 31px;
}

.jumbotron p {
    color: black;
    font-size: 15px;
}

.col h1,
p {
    color: black;
}

.card {
    transition: 0.6s all;
}

.card:hover:hover {
    -webkit-box-shadow: -1px 2px 25px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 2px 25px -4px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 2px 25px -4px rgba(0, 0, 0, 0.75);
    transition: 0.8s all;
}

.nama1 {
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    80% {
        transform: translateX(20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.nama2 {
    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    80% {
        transform: translateX(-10px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}


/* DEKSTOP VERSION */

@media (min-width: 991.98px) {
    .nav-link {
        text-transform: uppercase;
        margin-right: 30px;
    }
    body {
        font-family: "Poppins", sans-serif;
        background-image: url(./img/desain.png);
        background-size: cover;
        background-attachment: fixed;
        background-position: 0 -250px;
    }
    .nav-link:hover::after {
        content: "";
        display: block;
        border-bottom: 3px solid #0b63dc;
        width: 50%;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: -8px;
    }
    .jumbotron {
        background-size: cover;
        height: 640;
    }
    .jumbotron .container {
        padding-top: 30px;
    }
    .jumbotron h1 {
        font-size: 62px;
    }
    .jumbotron .img-fluid {
        width: 200px;
    }
    .jumbotron p {
        color: black;
        font-size: 30px;
    }
    section {
        min-height: 420px;
    }
}